{% extends 'baseAdmin.html.twig' %}

{% trans_default_domain "admin" %}

{% block title %}Hello Admin ArticleController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello Admin Article Index! ✅</h1>

        <table>
            <tr>
                <th>{{ "article.label.title"|trans }}</th>
                <th>{{ "article.label.sub_title"|trans }}</th>
                <th>{{ "article.label.keyword"|trans }}</th>
                <th>{{ "article.label.url"|trans }}</th>
                <th>{{ "article.label.action"|trans }}</th>
            </tr>

            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.subTitle }}</td>
                <td>{{ article.keyword }}</td>
                <td>{{ article.url }}</td>
                <td><a href="{{ path("dashboard_article_edit", {id: article.id}) }}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
